<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.bookpubbatch.repository.order.OrderMapper">
    <update id="updateOrderCancel" parameterType="com.nhnacademy.bookpubbatch.repository.order.dto.OrderUpdateDto">
        update bookpub_order set order_state_code_number = ${orderStateNo}
        where order_number = ${orderNo}
    </update>
    <select id="getOrders" resultType="com.nhnacademy.bookpubbatch.repository.order.dto.OrderDto">
        select o.order_number as 'orderNo'
        from bookpub_order as o
                 left join order_state_code osc
                       on o.order_state_code_number = osc.order_state_code_number
        where osc.order_state_code_name = '결제대기'
        and now() >= (o.created_at + interval 1 day)

         LIMIT #{_skiprows}, #{_pagesize}
    </select>
    <select id="getOrderStates" resultType="com.nhnacademy.bookpubbatch.repository.order.dto.OrderStateDto">
        select order_state_code_number as 'orderStateNo'
        from order_state_code
        where order_state_code_name = '주문취소'
    </select>
</mapper>
